
/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*Variables*/
:root
{
    --header-height: 3rem;

    --hue-color: 230; /*Principal*/

    /*Colores*/
    --color-primario: hsl(var(--hue-color), 69%, 61%);
    --color-secundario: hsl(var(--hue-color), 69%, 61%);
    --color-alternativo: hsl(var(--hue-color), 57%, 53%);
    --color-lighter: hsl(var(--hue-color), 92%, 85%);
    --color-titulo: hsl(var(--hue-color), 8%, 15%);
    --color-texto: hsl(var(--hue-color), 8%, 45%);
    --color-texto-light: hsl(var(--hue-color), 8%, 65%);
    --color-input: hsl(var(--hue-color), 70%, 96%);
    --color-body: hsl(var(--hue-color), 60%, 99%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --color-container: #fff;

    /*Fuentes y tipografia*/
    --fuente-body: 'Poppins', sans-serif;
    --size-fuente-grande: 2rem;
    --size-h1: 1.5rem;
    --size-h2: 1.25rem;
    --size-h3: 1.125rem;
    --size-fuente-normal: .938rem;
    --size-fuente-small: .813rem;
    --size-fuente-smaller: .75rem;

    /*Ancho de fuente*/
    --font-small: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-large: 900;

    /* MARGENES */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
--z-tooltip: 10;
--z-fixed: 100;
--z-modal: 1000;
}

/*Tamaño de fuente para dispositivos grandes*/
@media screen and (min-width: 968px){
    :root{
    --size-fuente-grande: 3rem;
    --size-h1: 2.25rem;
    --size-h2: 1.5rem;
    --size-h3: 1.25rem;
    --size-fuente-normal: 1rem;
    --size-fuente-small: .875rem;
    --size-fuente-smaller: .813rem;
    }
}

/* ========================= VARIABLES TEMA DARK =========================*/
body.dark-theme{
        /*Colores*/

    --color-secundario: hsl(var(--hue-color), 30%, 8%);
    --color-titulo: hsl(var(--hue-color), 8%, 95%);
    --color-texto: hsl(var(--hue-color), 8%, 75%);
    --color-input: hsl(var(--hue-color), 29%, 16%);
    --color-body: hsl(var(--hue-color), 28%, 12%);
    --color-container: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}


/* ========================= BOTONES DARK / LIGHT =========================*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color:var(--color-titulo);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color:var(--color-primario);
}

/* ========================= BASE =========================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--fuente-body);
    font-size: var(--size-fuente-normal);
    background-color: var(--color-body);
    color: var(--color-texto)
}

h1, h2, h3, h4{
    color: var(--color-titulo);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* ============== CLASES REUTILIZABLES ==============*/
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--size-h1);
}

.section__subtitle{
    display: block;
    font-size: var(--size-fuente-small);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle{
    text-align: center;
}

/*============== LAYOUT ==============*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--color-body);


}

/*============== LAYOUT ==============*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--color-titulo);
    font-weight: var(--font-medium);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--color-primario);
}


@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--color-body);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1 .5rem 1.5rem 0 0;
        transition: .3s;
    }
} 

.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav__link{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-fuente-small);
    color: var(--color-titulo);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--color-primario);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-primario);
}

.nav__close:hover{
    color: var(--color-alternativo);
}

/*========== MOSTRAR MENU ==========*/
.show-menu{
    bottom: 0;
}

/*========== LINK ACTIVO ==========*/
.active-link{
    color:var(--color-primario);
}

.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}



/* ==========HOME ==========*/
.home{
    margin-bottom: 8rem;
}

.home__container{
    gap: 1rem;
}

.home__content{
    grid-template-columns: .5fr 3fr; /* 3 en vez de 1.5*/
    padding-top: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--color-primario);
}

.home__social-icon:hover{
    color: var(--color-alternativo);
}

.home__blob{
    width: 200px;
    fill: var(--color-primario);
}

.home__blob-img{
    width: 520px;
}

.home__data{
    grid-column: 1/3 ;
}

.home__title{
    font-size: var(--size-fuente-grande);
}

.home__subtitle{
    font-size: var(--size-h3);
    color: var(--color-texto);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}

.home__scroll{
    display: none;
}

.home__scroll-button{
   color: var(--color-primario);
   transition: .3s;
}

.home__scroll-button:hover{
   transform: translateY(0.3rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font-size: var(--size-fuente-small);
    color: var(--color-titulo);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font: 1.25rem;
}


/*========== BOTONES ==========*/
.button{
    display: inline-block;
    background-color: var(--color-primario);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--color-alternativo);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--white{
    background-color: #fff;
    color: var(--color-primario)
}

.button--white:hover{
    background-color: rgba(255, 255, 255, 0.719);
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--small{
    padding: .5rem 1rem;
}

.button--link{
    padding: 0;
}


/*========== ABOUT ==========*/
.about{
    margin-bottom: 8rem;
}

.about__img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info,
.home__title{
    font-size: var(--size-h2);
    font-weight: var(--font-semi-bold);
    color: var(--color-titulo)
}

.about__info-name{
    font-size: var(--size-fuente-smaller);
}

.about__info-title,
.about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display: flex;
}

/*========== SKILLS ==========*/
.skills{
    margin-bottom: 8rem;
}

.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color:var(--color-primario);

}

.skills__icon{
    margin-right: var(--mb-0-75);
}

.skills__title{
    font-size: var(--size-h3);
}

.skills__subtitle{
    font-size: var(--size-fuente-small);
    color: var(--color-texto-light)
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name{
    font-size: var(--size-fuente-normal);
    font-weight: var(--font-medium);
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}


/*========== WORK ==========*/
.work{
    margin-bottom: 12rem;
}

.work__container{
    overflow: initial;
}

.work__content{
    padding: 0 1.5rem;
}

.work__img{
    width: 265px;
    border-radius: .3rem;
    justify-self: center;
}

.work__title{
    font-size: var(--size-h3);
    margin-bottom: var(--mb-0-5);
}

.work__description{
    margin-bottom: var(--mb-3);
}


.work__button:hover .button__icon{
    transform: translateX(.25rem)
}

/*SWIPER*/
.swiper-button-prev::after,
.swiper-button-next::after{
    content: ' ';
}

.swiper-work-icon{
    font-size: 2rem;
    color: var(--color-primario);
}

.swiper-button-prev{
    left: -.5rem
}

.swiper-button-next{
    right: -.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active{
    background-color: var(--color-primario);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
    outline: none;
}

/*========== PROJECT ==========*/
.project{
    text-align: center;
    margin-bottom: 5rem;
}

.project__bg{
    background-color: var(--color-primario);
    padding: 5rem 0;
}

.project__title{
    font-size: var(--size-h2);
    margin-bottom: var(--mb-0-75);
}

.project__description{
    margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description{
    color: #fff;
}

.project__img{
    width: 232px;
    justify-self: center;
}

/*========== CONTACT ==========*/
.contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 2rem;
    color: var(--color-primario);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--size-h3);
    font-weight: var(--font-medium);
}

.contact__subtitle{
    font-size: var(--size-fuente-small);
    color: var(--color-texto-light)
}

.contact__content{
    background-color: var(--color-input);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__label{
    font-size: var(--size-fuente-smaller);
}

.contact__input{
    width: 100%;
    background-color: var(--color-input);
    color: var(--color-texto);
    font-family: var(--fuente-body);
    font-size: var(--size-fuente-normal);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}


/*========== FOOTER ==========*/
.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--color-primario);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--size-h1);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--size-fuente-small);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover{
    color: var(--color-lighter);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover{
    color: var(--color-lighter);
}

.footer__copy{
    font-size: var(--size-fuente-smaller);
    text-align: center;
    color: var(--color-lighter);
    margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color:#fff;
}

/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--color-primario);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover{
    background-color: var(--color-alternativo);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #fff;
}

/*Mostrar scroll*/
.show-scroll{
    bottom: 5rem;
}


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-texto);
}

/*========== MEDIA QUERIES ==========*/
/*Dispositivos pequeños*/
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .home__blob{
        width: 180px;
    }

    .skills__title{
        font-size: var(--size-fuente-normal);
    }

    .project__img{
        width: 200px;
    }

    .button{
        padding: 0.2rem;
        font-weight: var(--font-small)
    }
}
/*Dispositivos medianos*/
@media screen and (min-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }
    .home__img{
        order: 1;
        justify-self: center;
    }

 .project__img{
        width: 300px;
    }
    .about__container,
    .work__content,
    .project__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
    }
    .home__blob{
        width: 270px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }

    .work__img{
        width: 320px;
    }
    .work__content{
        align-items: center;
    }

    .project{
        text-align: initial;
    }

    .project__bg{
        background: none;
    }

    .project__container{
        background-color: var(--color-secundario);
        border-radius: 1rem;
        padding: 3rem;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data{
        padding-top: .8rem;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials{
        justify-self: flex-end;
    }
    .footer__copy{
        margin-top: 4.5rem;
    }
}

/*Dispositivos grandes*/
@media screen and (min-width: 1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__blob{
        width: 320px;
    }
    .home__social{
        transform: translateX(-6rem);
    }

    .work{
        margin-top: 3rem;
    }
    
    .work__content{
        margin-top: 3rem;
        margin-bottom: 4rem;
        column-gap: 5rem;
    }

     .project__bg{
        border-radius: 1rem;
        margin: 2rem 10rem;
        background-color: var(--color-secundario);
    }
    
    .project__container{
        background: none;
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
    }

    .project__img{
        margin-top: 2rem;
       width: 800px;
   } 

    .swiper-work-icon{
        font-size: 3.5rem;
    }
    .swiper-button-prev{
        left: -3.5rem;
    }
    .swiper-button-next{
        right: -3.5rem;
    }
    .swiper-horizontal > .swiper-pagination-bullets{
        bottom: -4.5rem;
    }

    .about__description{
        text-align: justify;
    }

    .contact__form{
        width: 800px;
    }

}


@media screen and (min-width: 1368px){
    .home__content{
        padding-top: 11rem;
    }

    .about{
        margin-bottom: 10rem;
    }

    .about__container{
        max-width: 1200px;
        margin-top: 10rem;
        margin-left: 10rem;
        margin-right: 5rem;
    }

    .work{
        margin-bottom: 15rem;
    }

    .work__content{
        margin-top: 5rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .work__img{
        width: 80%;
    }

    .footer__container{
        max-width: 1500px;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .footer__social{
        justify-self: center;
    }
}